* {
  box-sizing: border-box;
}
:root {
  --primary-color: #c70039;
  --secondary-color: grey;
}
body {
  background: #222;
  color: #f2f2f2;
}
nav {
  ul {
    list-style: none;
    padding: 0px;
    li {
      display: inline-block;
      margin-right: 10px;
    }
  }
}
a {
  font-size: 30px;
  text-decoration: none;
  margin: 10px;
  cursor: pointer;
  cursor: help;
  cursor: wait;
  cursor: text;
  cursor: crosshair;
  cursor: url(../img/cursor-pointer.png), pointer;

  &:link {
    color: var(--primary-color);
  }
}
